<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome</h1>
    <h2>welcome</h2>
    <h2>welcome</h2>
    <h3>welcome</h3>
    <p>this is the home page</p>
    <p><a href="http://google.com/">Click here </a> to visit google</p>
    <p><a href="about">click here </a>to visit about us page</p>
    <form action="about" method="post" > 
        <!-- action means where our code will be redirected -->
    <!-- in order to not get data in the url, we use psot method, if we use get request, then data is visible in url -->
        <label>Name: </label>
        <input type="text" name="in_1"><br><br>

        <label>Age: </label>
        <input type="number" name="in_2"><br><br>

        <label>Password: </label>
        <input type="password" name="in_3"><br><br>

        <input type="submit" value="register">
    </form>
</body>
</html>